<!DOCTYPE html>
    <html>
        <head>
            <title>
                Random Riddle Generator
            </title>
        </head>
        <body>
            <h1>
                Random Riddle Generator Website
            </h1>

            <p>
                {{ sentence }}
            </p>

            <button onclick="window.location.reload();">
                Generate Riddles
            </button>
            <br>
            <br>
            {% for Riddle in riddles %}
            <table>
                <tr>
                    <td>{{ Riddle.ID }}</td>
                    <td>{{ Riddle.Riddle }}</td>
                </tr>
                </div>
            {% endfor %}
            </table>

        </body>
    </html>  